<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>

    <link rel="icon" href="/images/logo-icon.png" />
    <!-- o "href" é a maneira de chamar/criar um link.-->

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <!-- este link "stylesheet" vai inserir/trazer a pagina css para dentro do html-->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img
            class="animate-up"
            id="logo"
            src="/images/logo.svg"
            alt="Logomarca de Happy"
          />

          <div class="location animate-up">
            <strong>Rio do Sul</strong>
            <!-- display: "inline", faz com que o conteudo ocupe somente seu proprio espaço.-->
            <p>Eure-et-Loir</p>
            <!-- display: "bloc" faz com que o conteudo ocupe toda a linha do écran.-->
          </div>
        </header>

        <main>
          <h1 class="animate-up">Leve felicidade para o mundo.</h1>
          
          <section class="visit">
            <p class="animate-up">
              Visite orfanatos e mude o <br>dia de muitas crianças.
            </p>

            <a href="/orphanages" title="Visite orfanatos" class="animate-up">
              <!-- "title=" faz com que a frase "Visite orfanatos." apareça, quando pousamos o mause sobre o icone de "seta  -->
              <img
                src="/images/arrow.png"
                class="animate-up"
                alt="Ir para o mapa."
              />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
